* {
  box-sizing: border-box;
}

:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex !important;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

toggle-button {
  align-self: flex-end;
}
