* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:host([hidden]),
*[hidden] {
  display: none !important;
}

:host {
  display: block;
}

nav {
  display: flex;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group textarea {
  resize: vertical;
}

body:not(admin-module) .input-group label {
  color: white;
}

a {
  color: #333;
}

fullscreen-overlay a {
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.username {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  display: none;

  background: white;
  border: 1px solid #ccc;
  padding: 8px;
  min-width: 160px;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
