leaderboard-element .item-container > * {
  display: block;
  /* margin-block: 10000px; */
}

leaderboard-element .top-pin-container {
  position: fixed;
  top: 0;
}

leaderboard-element .bottom-pin-container {
  position: fixed;
  bottom: 0;
}

leaderboard-item {
  display: flex !important;
  gap: 15px;
  padding: 20px;
  font-size: 22px;
}
