*[data-text] {
  padding: 5px;
  cursor: pointer;
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-header-details {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 128px;
  height: 128px;
}

.profile-header-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

comment-item {
  display: block;
  margin-bottom: 15px;
}

comment-item .comment-content {
  white-space: pre-line;
}

comment-item textarea {
  width: 100%;
  resize: vertical;
}

comment-reactions .active {
  background-color: steelblue;
}
