body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 128px;
}

comment-item {
  display: block;
  margin-bottom: 15px;
}

comment-item .comment-content {
  white-space: pre-line;
}

comment-item textarea {
  resize: vertical;
}
