#full-profile-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 800px;
  padding: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;
}

#full-profile-container.active {
  display: block;
}

body:has(#full-profile-container.active) {
  overflow: hidden;
}
